.report-student {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bold;
    font-style: normal;
    color: #FDFDFD;
    background-color: #62E49D;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;;
    padding-top: 30px;
    padding-bottom: 30px;
}

.report-background {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 130px;
    top: 300px;

    background: #FDFDFD;
    border-radius: 40px 40px 0px 0px;
    color: white;
    font-family: 'GlacialIndifferenceRegular';
    
} 

.report-subBG  {
    background-color: white;
    border-radius: 16px;
    width: 90%;
    height: 100%;
    position: relative;
    left: 60px;
    top: 60px;

}

.correct-rect {
    background-color: hsl(117, 48%, 56%);
    width: 25px;
    height: 200px;
    border-radius: 16px;
    position: relative;
    left: 100px;
    top: -480px;
    word-wrap: break-word;
            
}

.incorrect-rect {
    background-color: #EE7C5B;
    width: 25px;
    height: 170px;
    border-radius: 16px;
    position: relative;
    left: 100px;
    top: -610px;
    word-wrap: break-word;
    
}

.correct-report-text {
    color:hsl(117, 48%, 56%);
    text-align: left;

    width: 900px;
    height: 170px;
    position: relative;
    left: 150px;
    top: -660px;
    word-wrap: break-word;
}

.incorrect-report-text {
    color:#EE7C5B;
    text-align: left;

    width: 900px;
    height: 170px;
    position: relative;
    left: 150px;
    top: -710px;
    word-wrap: break-word;
}

.details {
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bold;
    font-style: normal;
    color: #FDFDFD;
    background-color: #62E49D;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 0px;

    width: 200px;
    height: 60px;
    border-radius: 23px 0px 0px 23px;
    position: relative;
    left: 898px;
    top: -830px;
}

.details:active {
    color: rgb(43, 160, 255);
}


    /* basic positioning */
    .legend { 
        list-style: none;
        font-size: 20px;
    }
    .legend li { 
        float: left; 
        margin-right: 10px;
        color: #323232;
        width: 200px;
    }
    .legend span { 
        border: 1px solid #ccc;
        float: left;
        width: 12px;
        height: 12px;
        margin: 0px;
    }

    /* Legend colors */
    .legend .incorrect-legend { 
        background-color: #EE7C5B;
        margin-top: 7px;
        margin-right: 5px;
        border-radius: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .legend .correct-legend {
        background-color: hsl(117, 48%, 56%);
        border-radius: 16px;
        margin-top: 7px;
        margin-right: 5px;
        margin-left: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
    .legend .flagged-legend { 
        background-color: #FCDA89;
        border-radius: 16px;
        margin-top: 7px;
        margin-right: 5px;
        margin-left: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
    .legend .low-error-legend { 
        background-color: #3EA8DF;
        border-radius: 16px;
        margin-top: 7px;
        margin-right: 5px;
        margin-left: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
    .legend .unread-legend { 
        background-color: #AFAFAF;
        border-radius: 16px;
        margin-top: 7px;
        margin-right: 5px;
        margin-left: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }

    figure {
        margin: 0px;
        width: 2000px;
    }

